.wrapper {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  font-family: cursive;
}
.inner {
  width: 300px;
  height: 350px;
  background-color: white;
  margin: 15px 15px;
  border-radius: 15px;
}
.inner h1 {
  text-align: center;
  font-size: 25px;
  color: red;
}
.inner h2 {
  text-align: center;
}
.inner p {
  text-align: center;
}
